<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="defaultStatementTimeout" value="25000" />

		<!-- 전통적인 데이터베이스 컬럼명 형태인 A_COLUMN을 CamelCase형태의 자바 프로퍼티명 형태인 aColumn으로 
			자동으로 매핑하도록 함 -->
		<setting name="mapUnderscoreToCamelCase" value="false" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="memberDto" type="com.pknu.member.dto.MemberDto" />
		<typeAlias alias="BBSDto" type="com.pknu.bbs.dto.BBSDto"/>
		<typeAlias alias="getListDto" type="com.pknu.bbs.dto.GetListDto"/>
		<typeAlias alias="categoryDto" type="com.pknu.main.dto.CategoryDto"/>
		<typeAlias alias="fileDto" type="com.pknu.bbs.dto.FileDto"/>
	</typeAliases>

	<mappers>
		<mapper resource="mapper/Member.xml"/>
		<mapper resource="mapper/bbs.xml"/>
		<mapper resource="mapper/Main.xml"/>
	</mappers>
	
	
</configuration>